@import 'leaflet/dist/leaflet.css';

.leaflet-container {
  width: 100%;
  height: 100%;
}

.boat-div-icon {
  z-index: 1000;
  pointer-events: auto;
}

.boat-div-icon img {
  display: block;
  width: 36px;
  height: 36px;
  object-fit: contain;
}